.paslaugos {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 350px [col-end]);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5em 0.8em;
    justify-content: center;
    align-content: center;
}
.item {
    width: 350px;
    height: auto;
    background-color: indianred;
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width: 1280px) {
    .paslaugos {
        grid-template-columns: repeat(auto-fill, [col-start] 350px [col-end]);

    }
  }