.apie-mus {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 500px [col-start]);
    /* grid-template-columns: 1fr 50px 1fr; */
    grid-gap: 1.5em 0.8em;
    justify-content: center;
    /* align-content: center; */
}
.image {
    border: 5px solid salmon;
    text-align: center;
    padding: 5px;
    width: 500px;
    height: auto;
}

.content {
    border: 5px dashed brown;
    text-align: center;
    padding: 5px;
}

input.active {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media only screen and (max-width: 1279px) {
    .apie-mus {
         grid-template-columns: 500px;
    }

}