.kontaktai {
    display: grid;
    grid-gap: 0 3.8em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    height: 500px;
}

.kontaktaiImg {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f79f24;
}

.kontaktaiForm {
    grid-column: 2;
    width: 100%;
    padding: 20px 15px 20px 15px;
    margin-right: auto;
    margin-left: auto;

}

@media only screen and (max-width: 1280px) {
    .kontaktai {
        display: grid;
        grid-gap: 0 3.8em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .kontaktaiForm {
        grid-column: 1;
        margin: 0 auto;
        width: 80%;
    }
}